* {
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Montserrat';
}

.skills {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.l-skills {
    margin-left: -20px;
    margin-top: -10px;
}
    
.textCenter {
    text-align: center;
}

.profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textBox {
    border: 1px solid black;
    padding: 5px;
}